html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    padding: 0;
    margin: 0;
    font-weight: bold;
    background: linear-gradient(90deg, #91EECA 50%, #72729E 50%)
}
.wrapper {
    width: 80vw;
    margin: 40px auto;
    background-color: #0F0D3D;
}

.screen {
    text-align: right;
    color: white;
    padding: 40px;
    font-size: 4rem;
    background-color: #0F0D3D;
    direction: rtl;
}

.calc-buttons {
    display: grid;
    grid-template-columns: repeat(4, 25%);
}


button {
    background-color: #0C0C5D;
    font-size: 5rem;
    padding: 50px;
    border: 0.1px solid #0F0D3D;
    color: white;
}



button:hover {
    background-color: #91eeca3d;
}
button:active {
    background-color: #bbbcbe;
}

.func {
    background-color: #91EECA;
    color: #0F0D3D;
}
.func:hover {
    background-color: #72729E;
}
.func:active {
    background-color: #dd8d37;
}

.two-col {
    grid-column: span 2;
}

.three-col {
    grid-column: span 3;
}

/* For Desktop */

@media(min-width: 991px) {
    .wrapper {
        max-width: 450px;
    }
    .screen {
        padding: 15px;
        font-size: 3rem;
    }
    button {
        font-size: 3rem;
        padding: 20px;
    }
}
